:root {
    --one: #26355D;
    --two: #1679AB;
    --three: #AF47D2;
}
  


* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: white;
}

body {
    background-color: var(--one);
}