.kurse {
    border: 1px solid #eee;
    margin-bottom: 10px;
    font-family: sans-serif;
    color: white;
    text-align: center;
    background-color: #161b29;
}
.kurse header {
    color: white;
    text-transform: uppercase;
    height: 12rem;
    position: relative;
    background: url('../imgs/boxen2.jpg') no-repeat top center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kurse h1 {
    font-size: 3rem;
    text-align: center;
    background: none;
    margin: 0;
}
.kurse table {
    background-color: #161b29;
    color: #999;
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
}
.kurse button {
    margin: 10px;
    width: 50%;
    height: 5vh;
    max-width: 500px;
    color: white;
    border: 1px solid;
    border-radius: 7.5px;
    background-color: transparent;
}