.logo {
    background-color: #1d1d1d;
    color: white;
    text-transform: uppercase;
    height: 14rem;
    position: relative;
    font-family: sans-serif;
}

.logo h1 {
    font-size: 3rem;
    line-height: 3rem;
    width: 200px;
    position: absolute;
    margin-left: 1rem;
    top: 2rem;
}
.logo h5 {
    font-size: 1rem;
    width: 180px;
    line-height: 16px;
    position: absolute;
    margin-left: 1rem;
    top: 9rem;
}
  
  
.logo img {
    height: 7.5rem;
    position: absolute;
    bottom: 0;
    right: 0rem;
    z-index: 10;
}